@* Interface Enumerable = Enumerate or list (to ascertain the number: count)*@
@model IEnumerable<iviweStudyGroup.Models.Student>

@{
    ViewBag.Title = "StudyGroup";

}

<h2>StudyGroup</h2>

@* <p>
        @Html.ActionLink("Create New", "Create")
    </p> *@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Std_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Std_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Std_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Std_Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Std_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Std_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Std_Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Std_Email)
            </td>
            @*  <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td> *@
        </tr>
    }

</table>

